<h2>Create a Menu</h2>
<%= form_with(model: menuitems) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :description %>
  <%= form.text_field :description %>

  <%= form.label :price %>
  <%= form.text_field :price %>

   <%= form.label :image %>
   <%= form.file_field :image %>

  <%= form.submit "Create Menu" %>
<% end %>
