<div class="orders">
<% @orders.each do |order| %>
  <h2>Order: <%= order.id %></h2>
    <div class="order-items">
    <% order.cart_items.each do |item| %>
      <div class="order-item">  
      <%= image_tag(item.menu_item.image) %>  
      <h2><%= item.menu_item.name %></h2> 
      <p><%= item.menu_item.price %></p>
    <% end %>
 
  <h1>Total: <%= order.total %></h1>
<% end %>
