<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
    <title>Hello, world!</title>
  </head>
  <body>
   <%= render "navbar"%>

   <section class="menu">
     <h1>Where every ingredient tells a story</h1> 
     <button class="home-button">Our Menu</button>
   </section> 

   <div class="our-menu"> 
   <h1>Our Menu</h1>
    <div class="menu-items">
    <% @menu_items.each do |item| %>
    <div class="menu-item" data-item-id="<%= item.id %>" >
      <%= image_tag(item.image) %>
      <h3><%= item.name %></h3>
      <p><%= item.description %></p>
   
      <p>$<%= item.price %></p>
      <%= form_with(url: cart_items_path, method: :post) do |form| %>
      <%= form.hidden_field :menu_item_id, value: item.id %>
      <%= form.submit 'Add to Cart' %>
      <% end %>
       <%# <button class="add-to-cart-button">Add to Cart</button> %>
     
      

    </div>
    <% end %>
    </div>
    </div>







    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" 
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" 
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" 
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" 
    crossorigin="anonymous"></script>
    <script>
    $(document).ready(function() {
      var csrfToken = document.querySelector("meta[name='csrf-token']").getAttribute("content");
    $('.add-to-cart-button').click(function() {
        var itemId = $(this).closest('.menu-item').data('item-id');
       var requestData = {
    menu_item_id: itemId  // Your data goes here
};
        $.ajax({
            url: '/cart_items',
            method: 'POST',
            dataType: 'json',
    contentType: 'application/json',
    headers: {
        'X-CSRF-Token': csrfToken,
    },
    data: JSON.stringify(requestData), 
            success: function(response) {
                alert("Item successfully added to your cart")
            },
            error: function(xhr, status, error) {
                console.log(error);
            }
        });
    });
});

    </script>
  </body>
</html>

